{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}

{% block body %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font: 1rem sans-serif;
    }

    .form-podcast {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;
        justify-content: space-between;
    }

    .form-input {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
</style>

<div class="container">
    <h1>Create Podcast 🎧</h1>

    <audio controls>
        <source src="https://www.dropbox.com/s/u45y1zkqdzzrpst/audio.mp3?raw=1" type="audio/mpeg"/>
    </audio>
    <form class="form-podcast" action="#">
        <div class="form-input">
            <label for="description">Name:</label>
            <input type="text" name="name" id="name">
        </div><!-- /form-input -->

        <div class="form-input">
            <label for="description">Description:</label>
            <textarea name="description" id="description"></textarea>
        </div><!-- /form-input -->

        <div class="form-input">
            <label for="duration">Duration:</label>
            <input type="text" name="duration" id="duration">
        </div><!-- /form-input -->

        <div class="form-input">
            <label for="members">Members:</label>
            <input type="text" name="members" id="members">
        </div><!-- /form-input -->

        <div class="form-input">
            <label for="file">File:</label>
            <input type="file" name="file" id="file">
        </div><!-- /form-input -->

        <input type="submit" value="Enviar">
    </form>

    <script>
        document.querySelector('.form-podcast').addEventListener('submit', async (ev) => {
            ev.preventDefault();
            console.log("🔥Sending");

            const CHUNK_SIZE = Math.pow(1024, 2);
            const podcastInputData = {
                name: document.querySelector('#name').value,
                members: document.querySelector('#members').value,
                duration: document.querySelector('#duration').value,
                description: document.querySelector('#description').value,
            }
            const podcastAudioFile = document.querySelector('#file').files[0];

            const podcastRecord = await postPodcast(podcastInputData);
            console.log(podcastAudioFile);

            const splittedFile = sliptFile(podcastAudioFile, CHUNK_SIZE);
            const totalOfChunks = splittedFile.length;

            splittedFile.forEach(async (chunk, index) => {
                const data = new FormData();
                data.append('filesize', podcastAudioFile.size);
                data.append('count', totalOfChunks);
                data.append('index', index);
                data.append('data', chunk);

                const response = await uploadPodcast(podcastRecord.id, data);
                console.log(response);
            });

            async function postPodcast(data) {
                const result = await fetch('/podcast/', {
                    method: 'POST',
                    body: JSON.stringify(data),
                });

                return result.json();
            }

            async function uploadPodcast(podcastId, data) {
                const result = await fetch(`/podcast/upload/${podcastId}`, {
                    method: 'POST',
                    body: data,
                });

                return result.json();
            }

            function sliptFile(file, chunkSize) {
                const chunks = [];
                let startPointer = 0;
                const endPointer = file.size;

                while (startPointer <= endPointer) {
                    const range = startPointer + chunkSize;
                    const chunk = file.slice(startPointer, range);

                    startPointer = range;
                    chunks.push(chunk);
                }

                return chunks;
            }
        });
    </script>
</div>
{% endblock %}